In [21]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report, confusion_matrix

In [22]:
df = pd.read_csv('../data/output/learning_buddy_supervised_dataset.csv')

In [23]:
df.head()

   completion_rate  submission_rating  exam_score  competency_level
0         0.000000           4.150943    4.150943                 0
1         0.000000           4.150943    4.150943                 0
2         0.009346           4.150943    4.150943                 0
3         0.000000           4.150943    4.150943                 0
4         0.514019           4.150943    4.150943                 0

# Data Splitting

In [24]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('competency_level', axis=1), df['competency_level'], test_size=0.5, random_state=42)

# Train Data

In [25]:


# Train logistic regression and show prediction summary
model = LogisticRegression(max_iter=500)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
y_proba = model.predict_proba(X_test)

print("Accuracy:", accuracy_score(y_test, y_pred))

print("\nClassification report:\n", classification_report(y_test, y_pred))

cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(cm, index=model.classes_, columns=model.classes_)
print("\nConfusion matrix:")
display(cm_df)

# show a few rows with true label, predicted label and predicted probability
results = X_test.copy()
results['y_true'] = y_test
results['y_pred'] = y_pred
results['pred_proba'] = y_proba.max(axis=1)
display(results.head(10))

Accuracy: 0.8970588235294118

Classification report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        71
           1       0.00      0.00      0.00        14
           2       0.78      1.00      0.88        51

    accuracy                           0.90       136
   macro avg       0.59      0.67      0.63       136
weighted avg       0.82      0.90      0.85       136


Confusion matrix:

c:\Users\Lenovo\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\metrics\_classification.py:1731: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
c:\Users\Lenovo\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\metrics\_classification.py:1731: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
c:\Users\Lenovo\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\metrics\_classification.py:1731: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])

    0  1   2
0  71  0   0
1   0  0  14
2   0  0  51

,completion_rate,submission_rating,exam_score,y_true,y_pred,pred_proba
30,0.357143,4.150943,4.150943,0,0,0.999981
116,0.151515,4.150943,4.150943,0,0,0.999975
79,0.658537,4.150943,96.000000,1,2,0.765127
127,0.558559,4.150943,4.150943,0,0,0.999985
196,1.000000,4.150943,17.000000,0,0,0.999708
137,0.212598,4.150943,4.150943,0,0,0.999977
209,0.000000,4.150943,4.150943,0,0,0.999969
45,0.054945,4.150943,4.150943,0,0,0.999972
158,3.000000,4.150943,100.000000,2,2,0.999698
247,1.000000,4.150943,80.000000,2,2,0.838186